<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete" /> -->
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Cadastro de Frases</title>
</head>

<body style="background-color: rgb(71, 79, 121);">

    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Frase</label>
            </div>
          </div>

          <button class="btn waves-effect  indigo darken-3" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>

        </form>
      </div>

      <!-- Cartã modelo de onde vai as frases -->
      {% for frase in frases %}
      <div class="row">
        <div class="col s12 m5">
          <div class="card-panel indigo darken-3">
            <span class="white-text">
                {{frase}}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}

</body>

</html>