<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Curiosidades Maritimas</title>
    </style>

</head>

<body>

    <header class="header-titulo">
        Além das Ondas: Descubra as Curiosidades das Espécies Marítimas.
        <span>Como</span>
        <span>Sobre</span>
        <span>Novidades</span>

        <form class="btn-login">
            <button>LOGIN</button>
        </form>
        
    </header>

    <body>

        <img src="../static/img/{{imagem_random_html}}" alt="img-aleatoria" class="img-pagina-sobre">

        <div class="container-intro">
            <p>Bem-vindo ao "Além das Ondas"

                A ideia por trás deste site é simples, mas poderosa: criar um espaço para compartilhar o vasto e fascinante mundo dos conhecimentos marítimos. O oceano cobre mais de 70% da superfície da Terra, mas ainda guarda segredos que nos surpreendem diariamente. Por isso, decidi construir este site, onde entusiastas, curiosos e profissionais podem se encontrar para explorar curiosidades, aprender sobre as espécies marítimas, conhecer histórias náuticas e muito mais.
                
                Para dar vida a este projeto, escolhi o Flask como framework. A escolha foi guiada pela sua leveza, flexibilidade e simplicidade, características que permitem desenvolver aplicações web de maneira ágil e eficiente. O Flask oferece uma base sólida, mas ao mesmo tempo aberta para personalizações, algo essencial para transformar a visão deste site em realidade.
                
                A navegação aqui é mais do que um passeio pelo conteúdo — é um convite para explorar o desconhecido e celebrar a beleza e o mistério dos mares. Espero que você aproveite a experiência e se sinta inspirado a aprender mais sobre o mundo aquático!</p>
        </div>

        <div class="curiosidades">
            <p sty>{{frase_random_html}}</p>
        </div>

    </body>

</body>
</html>