<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Pagina inicial</title>
</head>



<header class="header-titulo">
    <p class="bem-vindo-inicial">Olá, seja bem-vindo(a).</p> 
    <span>Como</span>
    <span>Sobre</span>
    <span>Novidades</span>
 
    <form class="btn-login">
        <button>LOGIN</button>
    </form>

</header>

<body class="img-peixes-inicial">
    <img src="/static/img/img-peixes.jpg" alt="Imagem de peixes">
</body>

</html>